@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

.bg-image{
    background-image: url(../images/main-bg-dog.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* NAVIGATION BAR */

header{
    background-color: #644200;
    border-color: #644200;
}

.navbar-light .navbar-brand > a{
	color: rgba(255, 255, 255, 0.9);
	font-weight: 800;
}

.navbar-light .navbar-brand:hover > a{
	color: rgba(255, 255, 255, 0.9);
	font-weight: 800;
}



.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    color: rgb(255, 255, 255);
    font-weight: 900;
}

.navbar-light .navbar-nav .nav-link {
	color: rgb(255, 255, 255);
}

.navbar-light .navbar-toggler {
	color: rgb(0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
}

li{
    margin-left: 20px;
    text-align: center;
}

/* MAIN CONTENT */

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
	max-width: 1000px;
}

.about-images{
    width: 100%;
    height: 600px;
}
.fj-about > h1{
    font-weight: 600;
    text-align: center;
}

.fj-about{
    margin: 40px 0px;
}


.fj-benefits{
    text-align: center;
    margin-bottom: 20px;
}

.fj-benefits > h2{
    font-weight: 600;
}


.fj-benefit-item{
    padding: 50px;
}

.fj-benefit-item > i{
    margin: 20px;
}

/* FOOTER */

footer{
    color: #fff;
    background-color: #644200;
    border-color: #644200;
}

.footer-links, .footer-links > li, .footer-item > a{
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    text-align: left;
    padding: 0;
    margin-left: 0;
    margin-top: 10px;
    padding: 0;
}

.footer-items{
    margin-top: 25px;
}

.social-links > i{
    margin: 10px 0px;
}


/* HOMEPAGE MEDIA QUERIES */

@media only screen and (max-width: 768px) {
    .about-images{
        width: 100%;
        height: 100%;
    }

    .fj-benefit-item{
        padding: 20px;
    }
}

