@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

.bg-image{
    background-image: url(../images/main-bg-dog.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* NAVIGATION BAR */

.navbar-light .navbar-brand > a{
	color: rgba(255, 255, 255, 0.9);
	font-weight: 800;
}

.navbar-light .navbar-brand:hover > a{
	color: rgba(255, 255, 255, 0.9);
	font-weight: 800;
}



.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    color: rgb(255, 255, 255);
    font-weight: 900;
}

.navbar-light .navbar-nav .nav-link {
	color: rgb(255, 255, 255);
}

.navbar-light .navbar-toggler {
	color: rgb(0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
}

li{
    margin-left: 20px;
    text-align: center;
}

/* MAIN CONTENT */

main{
   height: 90vh;
}

main > div{
    margin-bottom: 50px;
}

div > h4{
    color: #ffffff;
    font-weight: 800;
}

.btn-primary {
	color: #fff;
	background-color: #644200;
	border-color: #644200;
}

.btn{
    width: 80vw;
    height: 45px;
    font-weight: bold;
}

/* FOOTER */

footer{
    color: #fff;
    background-color: #644200;
    border-color: #644200;
}

.footer-links, .footer-links > li, .footer-item > a{
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    text-align: left;
    padding: 0;
    margin-left: 0;
    margin-top: 10px;
    padding: 0;
}

.footer-items{
    margin-top: 25px;
}

.social-links > i{
    margin: 10px 0px;
}


/* HOMEPAGE MEDIA QUERIES */

@media only screen and (min-width: 768px) {
    .btn {
      width: 45vw;
    }
  }