/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

/* BASIC ELEMENTS */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff;
}

h1, 
h2 {
    margin: 40px 0px;
}

h3,
h4 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #c4840e;
}

.btn {
    font-weight: 800;
    background-color: #644200;
    border-color: #644200;
}

.btn:hover {
    background-color: #c4840e;
    border-color: #c4840e;
    transition: ease;
}

/* NAVIGATION BAR */

nav {
    background-color: #644200;
    font-weight: 600;
}

.nav-link {
    margin-left: 20px;
    text-align: center;
}

/* FOOTER */

footer {
    background-color: #644200;
    padding: 25px;
}

.footer-list-items {
    list-style: none;
    padding: 0px;
}

.footer-list-items > li{
    margin-top: 10px;
}

/* INDEX.HTML - LANDING PAGE MAIN CONTENT */

.landing-page {
    height: 100vh;

    /* CSS TRICKS */
    background-image: url(../images/main-bg-dog.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.landing-page-section {
    margin-bottom: 90px;
}

/* ABOUT.HTML - MAIN CONTENT */

.about-furry-journey{
    color: #000;
    font-weight: 300;
    text-align: center;
}

.about-perks{
    margin: 30px 0px;
}

.about-perks > h6{
    margin-top: 10px;
}

/* SERVICES.HTML - MAIN CONTENT */

.services-furry-journey{
    color: #000;
    font-weight: 300;
}

.card{
    margin-bottom: 20px;
}

form{
    margin-bottom: 15px;
}

.submit-button{
    text-align: center;
}

/* CONTACT.HTML - MAIN CONTENT */

.contact-furry-journey{
    color: #000;
}

/* NEWSLETTER-SIGNEDUP.HTML - MAIN CONTENT */

.newsletter-main{
    height: 100vh;
}

.newsletter-main > section{
    color: #000;
    margin-bottom: 150px;
}

/* APPOINTMENT-BOOKED.html - MAIN CONTENT */

.appointment-booked-main{
    height: 100vh;
    color: #000;
}

/* MEDIA QUERIES */

/* lANDING PAGE */
@media only screen and (min-width: 768px) {
    .btn {
        width: 45vw;
    }
}

@media only screen and (max-width: 768px) {
    .about-img{
        width: 100%;
        height: 100%;
    }

    .newsletter-dog-img{
        width: 100%;
        height: 100%;
    }
}

